<% layout("layouts/boilerplate") %>

<div class="container">
  <h2 style="margin-top:40px;">Checkout</h2>
  <div class="checkout">
    <h2>Bill Summary</h2>
    <p><strong>Items will be shown here later</strong></p>
    <hr>
    <p><strong>Total: ₹130</strong></p>

    <div class="payment-options">
      <button class="btn btn-primary">Pay with UPI</button>
      <button class="btn btn-outline-secondary">Card Payment</button>
    </div>
  </div>
</div>
